{% extends 'student/index.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card card-border shadow rounded mb-4">
  <div class="my-4 mx-4">
    <h3 class="text-center mb-5">Leave a Feedback message</h3>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-block btn-primary mt-5">Save</button>
    </form>
  </div>
</div>

<div class="card card-border shadow rounded mb-4">
  <div class="my-4 mx-4">
    <h4 class="card-title mb-4">Feedback History</h4>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Feedback Message</th>
            <th>Feedback Reply</th>
          </tr>
        </thead>

        <tbody>
          {% for feedback in object_list %}
          <tr>
            <td>{{ feedback.id }}</td>
            <td>{{ feedback.feedback }}</td>
            <td>{{ feedback.reply }}</td>
            <td>
              {% if leave.leave_status == 1 %}
              <span class="badge badge-pill badge-primary">{{ leave.get_leave_status_display }}</span>
              {% elif leave.leave_status == 2 %}
              <span class="badge badge-pill badge-success">{{ leave.get_leave_status_display }}</span>
              {% else %}
              <span class="badge badge-pill badge-danger">{{ leave.get_leave_status_display }}</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}